html,
body {
    margin: 0;
    padding: 0;
    background: transparent;
}

#bubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 18px #0000004d;
    user-select: none;
    cursor: pointer;
    font-size: 34px;
    color: white;
}

#bubble:hover {
  background: #593994;
}

#bubble:active {
    cursor: grabbing;
}

#bubble-icon path {
  fill: white; 
  transition: fill 0.3s;
}