html,
body {
    margin: 0;
    padding: 0;
    background: transparent;
}

#bubble {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #0066c5, #094799);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: grab;
    font-size: 34px;
    color: white;
}

#bubble:active {
    cursor: grabbing;
}