html,
body {
  margin: 0;
  padding: 0;
  background: transparent;
}

#bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 18px #0000004d;
  user-select: none;
  cursor: pointer;
  font-size: 34px;
  color: white;
}

#bubble:hover {
  background: #593994;
}

#bubble:active {
  cursor: grabbing;
}

#bubble-icon path {
  fill: white;
  transition: fill 0.3s;
}

#unread-counter {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-weight: bold;
}

#unread-counter.pop {
animation: bounce 0.5s;
}

@keyframes bounce {
0% { transform: scale(1); }
30% { transform: scale(1.5); }
50% { transform: scale(0.9); }
70% { transform: scale(1.2); }
100% { transform: scale(1); }
}