html,
body {
    margin: 0;
    padding: 0;
    background: transparent;
}

#bubble {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;
    font-size: 34px;
    color: white;
}

#bubble:active {
    cursor: grabbing;
}

#bubble-icon path {
  fill: white;   /* color inicial */
  transition: fill 0.3s;
}

#bubble-icon:hover path{
  fill: springgreen;   /* color al pasar el mouse */
}