* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

.tablink {
    background-color: #8b8b8b;
    color: white;
    float: left;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 16px;
    width: 50%;
    transition: background 0.3s;
}

.tablink:hover {
    background-color: #44ca92;
}

.tabcontent {
    display: none;
    padding: 30px 20px;
    color: #000000;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

h2 {
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}

label {
    min-width: 180px;
    font-weight: bold;
}

input,
select {
    padding: 5px;
    flex: 1;
    max-width: 300px;
}

.input-with-unit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-with-unit input {
    flex: 1;
    max-width: 100px;
}

.unit-label {
    font-weight: bold;
}

#buttonM-row,
#buttonG-row {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

button.folder {
    background-color: #888;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button.folder:hover {
    background-color: #555;
}

button.save {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: #006fca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.save:hover {
    background-color: #004f88;
}

button.cancel {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: #db0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.cancel:hover {
    background-color: #800000;
}

#toastContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.toast {
    min-width: 200px;
    margin-top: 10px;
    justify-content: center;
    padding: 12px 18px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
    opacity: 0.9;
    transform: translateY(0);
}

.toast.success {
    background-color: #118d2e;
}

.toast.error {
    background-color: #c01829;
}