/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: "Inter", "Segoe UI", Tahoma, sans-serif;
    background-color: #f7f7f8;
    color: #202123;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Main content */
.main-content {
    width: 100%;
    flex: 1;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content section {
    background-color: #fff;
    padding: 1.7rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}


/* Form groups */
.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form-group p {
    background-color: #f1f1f3;
    padding: 0.9rem;
    border-radius: 8px;
    border: 1px solid #e1e1e6;
}

h3{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.adaptative-info ul {
    background-color: #f1f1f3;
    padding: 1rem 1.4rem;
    border-radius: 8px;
    border: 1px solid #e1e1e6;
}

/* Navigation sequence */
#navigation-sequence {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    resize: none;
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
}

/* Scrollbars */
.main-content::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: #bfc0c5;
    border-radius: 8px;
}

.tabs-container {
    width: 100%;
    background: var(--bg);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tabs {
    display: flex;
    gap: 7px;
    width: 100%;
    max-width: 900px;
}

.tablink {
    flex: 1;
    padding: 14px 0;
    text-align: center;
    border-radius: var(--radius-sm);
    border: 1px solid var(--border);
    background: var(--bg-tertiary);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: background 0.2s ease, color 0.2s ease, border-color 0.2s;
}

.tablink:hover {
    background: var(--border-dark);
}

.tablink.active {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--text-inverse);
}

.tabcontent {
    display: none;
    padding-top: 12px;
    height: auto;
    overflow-x: hidden;
}

.tabcontent.active {
    display: block;
}
