body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
background: radial-gradient(circle,rgba(226, 255, 179, 1) 0%, rgba(184, 217, 255, 1) 59%);
  font-size: 13px;
  border-radius: 10px;
}

#chat-messages {
  flex: 1;
  padding: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#chat-form {
  display: flex;
  gap: 8px;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#chat-input {
  flex: 1;
  padding: 6px 8px;
  border: 1px solic #ccc;
  border-radius: 4px;
  outline: none;
}

#chat-form button {
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

#chat-form button:hover {
  background-color: #45a049;
}

#chat-form button:disabled {
  background-color: #1b3f1d;
  cursor: not-allowed;
}

.msg-bot {
  background: #4a66ff;
  padding: 6px 10px;
  border-radius: 6px;
  align-self: flex-start;
  max-width: 95%;
}

.msg-user {
  background: #fdc241;
  color: black;
  padding: 6px 10px;
  border-radius: 6px;
  align-self: flex-end;
  max-width: 95%;
}

.pkg-item {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #fff;
}

.pkg-item h4 {
  margin: 0 0 4px 0;
  font-size: 0.9em;
}

.pkg-item p {
  margin: 2px 0;
  font-size: 0.85em;
}

.pkg-btn {
  margin-top: 4px;
  padding: 4px 8px;
  background-color: #1ab43e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pkg-btn:disabled {
  margin-top: 4px;
  padding: 4px 8px;
  background-color: #2d5f39;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
}

#chat-commands {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#chat-commands button {
  padding: 6px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#chat-commands button:hover {
  background-color: #45a049;
}

#chat-commands button:disabled {
  background-color: #1b3f1d;
  cursor: not-allowed;
}